﻿/* Очень важно чтобы height = 100% для правильного
   отображения iframe в firefox. Т.е. у всех "окружающих" 
   iframe элементов html, body, form, div обязательно height = 100%.
   Стиль div-а установлен отдельно в MasterPage. 
*/
html, body, iframe, form
{
	height: 100%;
	width: 100%;
	margin: 0px;
	padding: 0px;
}

iframe
{
	border: none;
}
